{% load mighty %}

{% with opts.app_label|add:":"|add:opts.model_name|add:"-create" as reverse %}
<a href="{{ object_list.0.add_url }}">{{ title.create }}</a>
{% endwith %}


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Enable/Disable</th>
            {% if can_askfor %}
            <th>Ask for change</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                {% has_perm object request.user 'detail' as can_detail %}
                {% if can_detail %}
                    {{ object.detail_url_html }}
                {% else %}
                    {{ object.display }}
                {% endif %}
            </td>
            <td>
                {% has_perm object request.user 'change' as can_change %}
                {% if can_change %}{{ object.change_url_html }}{% endif %}
            </td>
            <td>
            {% if object.is_disable %}
                {% has_perm object request.user 'enable' as can_enable %}
                {% if can_enable %}{{ object.enable_url_html }}{% endif %}
            {% else %}
                {% has_perm object request.user 'disable' as can_disable %}
                {% if can_disable %}{{ object.disable_url_html }}{% endif %}
            {% endif %}
            </td>
            <td>
                {% has_perm object request.user 'askfor' as can_askfor %}
                {% if can_askfor %}
                {% endif %}

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>