/* Init default */
html, body { margin: 0 auto;}
h1, h2, h3, h4, h5, p, ul, li { margin: 0;}
* { box-sizing: border-box; }

/* Widgets */
input[type="checkbox"].dsc:not(:checked) ~ * { display: none; }

/* Filters */
.sh-pr10 { background-color: rgba(0, 0, 0, 0.1); }.sh-pr15 { background-color: rgba(0, 0, 0, 0.15); }.sh-pr20 { background-color: rgba(0, 0, 0, 0.2); }.sh-pr25 { background-color: rgba(0, 0, 0, 0.25); }.sh-pr50 { background-color: rgba(0, 0, 0, 0.5); }.sh-pr100 { background-color: rgba(0, 0, 0, 1); }.fil-blur-px5 { filter: blur(5px); }
.fil-blur-px10 { filter: blur(10px); }
.fil-grayscale-pr50 { filter: grayscale(50%); }
.fil-grayscale-pr100 { filter: grayscale(100%); }
.fil-opacity-50 { filter: opacity(50%); }
.fil-opacity-pr100 { filter: opacity(100%); }
.fil-sepia-pr50 { filter: sepia(50%); }
.fil-sepia-pr100 { filter: sepia(100%); }

/* Media Queries base */
.bg-c-transparent, .bg-c-transparent-ch > *, .bg-c-transparent-rs * { background-color: transparent; }
.bg-c-transparent-hv:hover, .bg-c-transparent-ch-hv:hover > *, .bg-c-transparent-rs-hv:hover * { background-color: transparent; }
.bg-c-aliceblue, .bg-c-aliceblue-ch > *, .bg-c-aliceblue-rs * { background-color: aliceblue; }
.bg-c-aliceblue-hv:hover, .bg-c-aliceblue-ch-hv:hover > *, .bg-c-aliceblue-rs-hv:hover * { background-color: aliceblue; }
.bg-c-antiquewhite, .bg-c-antiquewhite-ch > *, .bg-c-antiquewhite-rs * { background-color: antiquewhite; }
.bg-c-antiquewhite-hv:hover, .bg-c-antiquewhite-ch-hv:hover > *, .bg-c-antiquewhite-rs-hv:hover * { background-color: antiquewhite; }
.bg-c-aqua, .bg-c-aqua-ch > *, .bg-c-aqua-rs * { background-color: aqua; }
.bg-c-aqua-hv:hover, .bg-c-aqua-ch-hv:hover > *, .bg-c-aqua-rs-hv:hover * { background-color: aqua; }
.bg-c-aquamarine, .bg-c-aquamarine-ch > *, .bg-c-aquamarine-rs * { background-color: aquamarine; }
.bg-c-aquamarine-hv:hover, .bg-c-aquamarine-ch-hv:hover > *, .bg-c-aquamarine-rs-hv:hover * { background-color: aquamarine; }
.bg-c-azure, .bg-c-azure-ch > *, .bg-c-azure-rs * { background-color: azure; }
.bg-c-azure-hv:hover, .bg-c-azure-ch-hv:hover > *, .bg-c-azure-rs-hv:hover * { background-color: azure; }
.bg-c-beige, .bg-c-beige-ch > *, .bg-c-beige-rs * { background-color: beige; }
.bg-c-beige-hv:hover, .bg-c-beige-ch-hv:hover > *, .bg-c-beige-rs-hv:hover * { background-color: beige; }
.bg-c-bisque, .bg-c-bisque-ch > *, .bg-c-bisque-rs * { background-color: bisque; }
.bg-c-bisque-hv:hover, .bg-c-bisque-ch-hv:hover > *, .bg-c-bisque-rs-hv:hover * { background-color: bisque; }
.bg-c-black, .bg-c-black-ch > *, .bg-c-black-rs * { background-color: black; }
.bg-c-black-hv:hover, .bg-c-black-ch-hv:hover > *, .bg-c-black-rs-hv:hover * { background-color: black; }
.bg-c-blanchedalmond, .bg-c-blanchedalmond-ch > *, .bg-c-blanchedalmond-rs * { background-color: blanchedalmond; }
.bg-c-blanchedalmond-hv:hover, .bg-c-blanchedalmond-ch-hv:hover > *, .bg-c-blanchedalmond-rs-hv:hover * { background-color: blanchedalmond; }
.bg-c-blue, .bg-c-blue-ch > *, .bg-c-blue-rs * { background-color: blue; }
.bg-c-blue-hv:hover, .bg-c-blue-ch-hv:hover > *, .bg-c-blue-rs-hv:hover * { background-color: blue; }
.bg-c-blueviolet, .bg-c-blueviolet-ch > *, .bg-c-blueviolet-rs * { background-color: blueviolet; }
.bg-c-blueviolet-hv:hover, .bg-c-blueviolet-ch-hv:hover > *, .bg-c-blueviolet-rs-hv:hover * { background-color: blueviolet; }
.bg-c-brown, .bg-c-brown-ch > *, .bg-c-brown-rs * { background-color: brown; }
.bg-c-brown-hv:hover, .bg-c-brown-ch-hv:hover > *, .bg-c-brown-rs-hv:hover * { background-color: brown; }
.bg-c-burlywood, .bg-c-burlywood-ch > *, .bg-c-burlywood-rs * { background-color: burlywood; }
.bg-c-burlywood-hv:hover, .bg-c-burlywood-ch-hv:hover > *, .bg-c-burlywood-rs-hv:hover * { background-color: burlywood; }
.bg-c-cadetblue, .bg-c-cadetblue-ch > *, .bg-c-cadetblue-rs * { background-color: cadetblue; }
.bg-c-cadetblue-hv:hover, .bg-c-cadetblue-ch-hv:hover > *, .bg-c-cadetblue-rs-hv:hover * { background-color: cadetblue; }
.bg-c-chartreuse, .bg-c-chartreuse-ch > *, .bg-c-chartreuse-rs * { background-color: chartreuse; }
.bg-c-chartreuse-hv:hover, .bg-c-chartreuse-ch-hv:hover > *, .bg-c-chartreuse-rs-hv:hover * { background-color: chartreuse; }
.bg-c-chocolate, .bg-c-chocolate-ch > *, .bg-c-chocolate-rs * { background-color: chocolate; }
.bg-c-chocolate-hv:hover, .bg-c-chocolate-ch-hv:hover > *, .bg-c-chocolate-rs-hv:hover * { background-color: chocolate; }
.bg-c-coral, .bg-c-coral-ch > *, .bg-c-coral-rs * { background-color: coral; }
.bg-c-coral-hv:hover, .bg-c-coral-ch-hv:hover > *, .bg-c-coral-rs-hv:hover * { background-color: coral; }
.bg-c-cornflowerblue, .bg-c-cornflowerblue-ch > *, .bg-c-cornflowerblue-rs * { background-color: cornflowerblue; }
.bg-c-cornflowerblue-hv:hover, .bg-c-cornflowerblue-ch-hv:hover > *, .bg-c-cornflowerblue-rs-hv:hover * { background-color: cornflowerblue; }
.bg-c-cornsilk, .bg-c-cornsilk-ch > *, .bg-c-cornsilk-rs * { background-color: cornsilk; }
.bg-c-cornsilk-hv:hover, .bg-c-cornsilk-ch-hv:hover > *, .bg-c-cornsilk-rs-hv:hover * { background-color: cornsilk; }
.bg-c-crimson, .bg-c-crimson-ch > *, .bg-c-crimson-rs * { background-color: crimson; }
.bg-c-crimson-hv:hover, .bg-c-crimson-ch-hv:hover > *, .bg-c-crimson-rs-hv:hover * { background-color: crimson; }
.bg-c-cyan, .bg-c-cyan-ch > *, .bg-c-cyan-rs * { background-color: cyan; }
.bg-c-cyan-hv:hover, .bg-c-cyan-ch-hv:hover > *, .bg-c-cyan-rs-hv:hover * { background-color: cyan; }
.bg-c-darkblue, .bg-c-darkblue-ch > *, .bg-c-darkblue-rs * { background-color: darkblue; }
.bg-c-darkblue-hv:hover, .bg-c-darkblue-ch-hv:hover > *, .bg-c-darkblue-rs-hv:hover * { background-color: darkblue; }
.bg-c-darkcyan, .bg-c-darkcyan-ch > *, .bg-c-darkcyan-rs * { background-color: darkcyan; }
.bg-c-darkcyan-hv:hover, .bg-c-darkcyan-ch-hv:hover > *, .bg-c-darkcyan-rs-hv:hover * { background-color: darkcyan; }
.bg-c-darkgoldenrod, .bg-c-darkgoldenrod-ch > *, .bg-c-darkgoldenrod-rs * { background-color: darkgoldenrod; }
.bg-c-darkgoldenrod-hv:hover, .bg-c-darkgoldenrod-ch-hv:hover > *, .bg-c-darkgoldenrod-rs-hv:hover * { background-color: darkgoldenrod; }
.bg-c-darkgray, .bg-c-darkgray-ch > *, .bg-c-darkgray-rs * { background-color: darkgray; }
.bg-c-darkgray-hv:hover, .bg-c-darkgray-ch-hv:hover > *, .bg-c-darkgray-rs-hv:hover * { background-color: darkgray; }
.bg-c-darkgrey, .bg-c-darkgrey-ch > *, .bg-c-darkgrey-rs * { background-color: darkgrey; }
.bg-c-darkgrey-hv:hover, .bg-c-darkgrey-ch-hv:hover > *, .bg-c-darkgrey-rs-hv:hover * { background-color: darkgrey; }
.bg-c-darkgreen, .bg-c-darkgreen-ch > *, .bg-c-darkgreen-rs * { background-color: darkgreen; }
.bg-c-darkgreen-hv:hover, .bg-c-darkgreen-ch-hv:hover > *, .bg-c-darkgreen-rs-hv:hover * { background-color: darkgreen; }
.bg-c-darkkhaki, .bg-c-darkkhaki-ch > *, .bg-c-darkkhaki-rs * { background-color: darkkhaki; }
.bg-c-darkkhaki-hv:hover, .bg-c-darkkhaki-ch-hv:hover > *, .bg-c-darkkhaki-rs-hv:hover * { background-color: darkkhaki; }
.bg-c-darkmagenta, .bg-c-darkmagenta-ch > *, .bg-c-darkmagenta-rs * { background-color: darkmagenta; }
.bg-c-darkmagenta-hv:hover, .bg-c-darkmagenta-ch-hv:hover > *, .bg-c-darkmagenta-rs-hv:hover * { background-color: darkmagenta; }
.bg-c-darkolivegreen, .bg-c-darkolivegreen-ch > *, .bg-c-darkolivegreen-rs * { background-color: darkolivegreen; }
.bg-c-darkolivegreen-hv:hover, .bg-c-darkolivegreen-ch-hv:hover > *, .bg-c-darkolivegreen-rs-hv:hover * { background-color: darkolivegreen; }
.bg-c-darkorange, .bg-c-darkorange-ch > *, .bg-c-darkorange-rs * { background-color: darkorange; }
.bg-c-darkorange-hv:hover, .bg-c-darkorange-ch-hv:hover > *, .bg-c-darkorange-rs-hv:hover * { background-color: darkorange; }
.bg-c-darkorchid, .bg-c-darkorchid-ch > *, .bg-c-darkorchid-rs * { background-color: darkorchid; }
.bg-c-darkorchid-hv:hover, .bg-c-darkorchid-ch-hv:hover > *, .bg-c-darkorchid-rs-hv:hover * { background-color: darkorchid; }
.bg-c-darkred, .bg-c-darkred-ch > *, .bg-c-darkred-rs * { background-color: darkred; }
.bg-c-darkred-hv:hover, .bg-c-darkred-ch-hv:hover > *, .bg-c-darkred-rs-hv:hover * { background-color: darkred; }
.bg-c-darksalmon, .bg-c-darksalmon-ch > *, .bg-c-darksalmon-rs * { background-color: darksalmon; }
.bg-c-darksalmon-hv:hover, .bg-c-darksalmon-ch-hv:hover > *, .bg-c-darksalmon-rs-hv:hover * { background-color: darksalmon; }
.bg-c-darkseagreen, .bg-c-darkseagreen-ch > *, .bg-c-darkseagreen-rs * { background-color: darkseagreen; }
.bg-c-darkseagreen-hv:hover, .bg-c-darkseagreen-ch-hv:hover > *, .bg-c-darkseagreen-rs-hv:hover * { background-color: darkseagreen; }
.bg-c-darkslateblue, .bg-c-darkslateblue-ch > *, .bg-c-darkslateblue-rs * { background-color: darkslateblue; }
.bg-c-darkslateblue-hv:hover, .bg-c-darkslateblue-ch-hv:hover > *, .bg-c-darkslateblue-rs-hv:hover * { background-color: darkslateblue; }
.bg-c-darkslategray, .bg-c-darkslategray-ch > *, .bg-c-darkslategray-rs * { background-color: darkslategray; }
.bg-c-darkslategray-hv:hover, .bg-c-darkslategray-ch-hv:hover > *, .bg-c-darkslategray-rs-hv:hover * { background-color: darkslategray; }
.bg-c-darkslategrey, .bg-c-darkslategrey-ch > *, .bg-c-darkslategrey-rs * { background-color: darkslategrey; }
.bg-c-darkslategrey-hv:hover, .bg-c-darkslategrey-ch-hv:hover > *, .bg-c-darkslategrey-rs-hv:hover * { background-color: darkslategrey; }
.bg-c-darkturquoise, .bg-c-darkturquoise-ch > *, .bg-c-darkturquoise-rs * { background-color: darkturquoise; }
.bg-c-darkturquoise-hv:hover, .bg-c-darkturquoise-ch-hv:hover > *, .bg-c-darkturquoise-rs-hv:hover * { background-color: darkturquoise; }
.bg-c-darkviolet, .bg-c-darkviolet-ch > *, .bg-c-darkviolet-rs * { background-color: darkviolet; }
.bg-c-darkviolet-hv:hover, .bg-c-darkviolet-ch-hv:hover > *, .bg-c-darkviolet-rs-hv:hover * { background-color: darkviolet; }
.bg-c-deeppink, .bg-c-deeppink-ch > *, .bg-c-deeppink-rs * { background-color: deeppink; }
.bg-c-deeppink-hv:hover, .bg-c-deeppink-ch-hv:hover > *, .bg-c-deeppink-rs-hv:hover * { background-color: deeppink; }
.bg-c-deepskyblue, .bg-c-deepskyblue-ch > *, .bg-c-deepskyblue-rs * { background-color: deepskyblue; }
.bg-c-deepskyblue-hv:hover, .bg-c-deepskyblue-ch-hv:hover > *, .bg-c-deepskyblue-rs-hv:hover * { background-color: deepskyblue; }
.bg-c-dimgray, .bg-c-dimgray-ch > *, .bg-c-dimgray-rs * { background-color: dimgray; }
.bg-c-dimgray-hv:hover, .bg-c-dimgray-ch-hv:hover > *, .bg-c-dimgray-rs-hv:hover * { background-color: dimgray; }
.bg-c-dimgrey, .bg-c-dimgrey-ch > *, .bg-c-dimgrey-rs * { background-color: dimgrey; }
.bg-c-dimgrey-hv:hover, .bg-c-dimgrey-ch-hv:hover > *, .bg-c-dimgrey-rs-hv:hover * { background-color: dimgrey; }
.bg-c-dodgerblue, .bg-c-dodgerblue-ch > *, .bg-c-dodgerblue-rs * { background-color: dodgerblue; }
.bg-c-dodgerblue-hv:hover, .bg-c-dodgerblue-ch-hv:hover > *, .bg-c-dodgerblue-rs-hv:hover * { background-color: dodgerblue; }
.bg-c-firebrick, .bg-c-firebrick-ch > *, .bg-c-firebrick-rs * { background-color: firebrick; }
.bg-c-firebrick-hv:hover, .bg-c-firebrick-ch-hv:hover > *, .bg-c-firebrick-rs-hv:hover * { background-color: firebrick; }
.bg-c-floralwhite, .bg-c-floralwhite-ch > *, .bg-c-floralwhite-rs * { background-color: floralwhite; }
.bg-c-floralwhite-hv:hover, .bg-c-floralwhite-ch-hv:hover > *, .bg-c-floralwhite-rs-hv:hover * { background-color: floralwhite; }
.bg-c-forestgreen, .bg-c-forestgreen-ch > *, .bg-c-forestgreen-rs * { background-color: forestgreen; }
.bg-c-forestgreen-hv:hover, .bg-c-forestgreen-ch-hv:hover > *, .bg-c-forestgreen-rs-hv:hover * { background-color: forestgreen; }
.bg-c-fuchsia, .bg-c-fuchsia-ch > *, .bg-c-fuchsia-rs * { background-color: fuchsia; }
.bg-c-fuchsia-hv:hover, .bg-c-fuchsia-ch-hv:hover > *, .bg-c-fuchsia-rs-hv:hover * { background-color: fuchsia; }
.bg-c-gainsboro, .bg-c-gainsboro-ch > *, .bg-c-gainsboro-rs * { background-color: gainsboro; }
.bg-c-gainsboro-hv:hover, .bg-c-gainsboro-ch-hv:hover > *, .bg-c-gainsboro-rs-hv:hover * { background-color: gainsboro; }
.bg-c-ghostwhite, .bg-c-ghostwhite-ch > *, .bg-c-ghostwhite-rs * { background-color: ghostwhite; }
.bg-c-ghostwhite-hv:hover, .bg-c-ghostwhite-ch-hv:hover > *, .bg-c-ghostwhite-rs-hv:hover * { background-color: ghostwhite; }
.bg-c-gold, .bg-c-gold-ch > *, .bg-c-gold-rs * { background-color: gold; }
.bg-c-gold-hv:hover, .bg-c-gold-ch-hv:hover > *, .bg-c-gold-rs-hv:hover * { background-color: gold; }
.bg-c-goldenrod, .bg-c-goldenrod-ch > *, .bg-c-goldenrod-rs * { background-color: goldenrod; }
.bg-c-goldenrod-hv:hover, .bg-c-goldenrod-ch-hv:hover > *, .bg-c-goldenrod-rs-hv:hover * { background-color: goldenrod; }
.bg-c-gray, .bg-c-gray-ch > *, .bg-c-gray-rs * { background-color: gray; }
.bg-c-gray-hv:hover, .bg-c-gray-ch-hv:hover > *, .bg-c-gray-rs-hv:hover * { background-color: gray; }
.bg-c-grey, .bg-c-grey-ch > *, .bg-c-grey-rs * { background-color: grey; }
.bg-c-grey-hv:hover, .bg-c-grey-ch-hv:hover > *, .bg-c-grey-rs-hv:hover * { background-color: grey; }
.bg-c-green, .bg-c-green-ch > *, .bg-c-green-rs * { background-color: green; }
.bg-c-green-hv:hover, .bg-c-green-ch-hv:hover > *, .bg-c-green-rs-hv:hover * { background-color: green; }
.bg-c-greenyellow, .bg-c-greenyellow-ch > *, .bg-c-greenyellow-rs * { background-color: greenyellow; }
.bg-c-greenyellow-hv:hover, .bg-c-greenyellow-ch-hv:hover > *, .bg-c-greenyellow-rs-hv:hover * { background-color: greenyellow; }
.bg-c-honeydew, .bg-c-honeydew-ch > *, .bg-c-honeydew-rs * { background-color: honeydew; }
.bg-c-honeydew-hv:hover, .bg-c-honeydew-ch-hv:hover > *, .bg-c-honeydew-rs-hv:hover * { background-color: honeydew; }
.bg-c-hotpink, .bg-c-hotpink-ch > *, .bg-c-hotpink-rs * { background-color: hotpink; }
.bg-c-hotpink-hv:hover, .bg-c-hotpink-ch-hv:hover > *, .bg-c-hotpink-rs-hv:hover * { background-color: hotpink; }
.bg-c-indianred, .bg-c-indianred-ch > *, .bg-c-indianred-rs * { background-color: indianred; }
.bg-c-indianred-hv:hover, .bg-c-indianred-ch-hv:hover > *, .bg-c-indianred-rs-hv:hover * { background-color: indianred; }
.bg-c-indigo, .bg-c-indigo-ch > *, .bg-c-indigo-rs * { background-color: indigo; }
.bg-c-indigo-hv:hover, .bg-c-indigo-ch-hv:hover > *, .bg-c-indigo-rs-hv:hover * { background-color: indigo; }
.bg-c-ivory, .bg-c-ivory-ch > *, .bg-c-ivory-rs * { background-color: ivory; }
.bg-c-ivory-hv:hover, .bg-c-ivory-ch-hv:hover > *, .bg-c-ivory-rs-hv:hover * { background-color: ivory; }
.bg-c-khaki, .bg-c-khaki-ch > *, .bg-c-khaki-rs * { background-color: khaki; }
.bg-c-khaki-hv:hover, .bg-c-khaki-ch-hv:hover > *, .bg-c-khaki-rs-hv:hover * { background-color: khaki; }
.bg-c-lavender, .bg-c-lavender-ch > *, .bg-c-lavender-rs * { background-color: lavender; }
.bg-c-lavender-hv:hover, .bg-c-lavender-ch-hv:hover > *, .bg-c-lavender-rs-hv:hover * { background-color: lavender; }
.bg-c-lavenderblush, .bg-c-lavenderblush-ch > *, .bg-c-lavenderblush-rs * { background-color: lavenderblush; }
.bg-c-lavenderblush-hv:hover, .bg-c-lavenderblush-ch-hv:hover > *, .bg-c-lavenderblush-rs-hv:hover * { background-color: lavenderblush; }
.bg-c-lawngreen, .bg-c-lawngreen-ch > *, .bg-c-lawngreen-rs * { background-color: lawngreen; }
.bg-c-lawngreen-hv:hover, .bg-c-lawngreen-ch-hv:hover > *, .bg-c-lawngreen-rs-hv:hover * { background-color: lawngreen; }
.bg-c-lemonchiffon, .bg-c-lemonchiffon-ch > *, .bg-c-lemonchiffon-rs * { background-color: lemonchiffon; }
.bg-c-lemonchiffon-hv:hover, .bg-c-lemonchiffon-ch-hv:hover > *, .bg-c-lemonchiffon-rs-hv:hover * { background-color: lemonchiffon; }
.bg-c-lightblue, .bg-c-lightblue-ch > *, .bg-c-lightblue-rs * { background-color: lightblue; }
.bg-c-lightblue-hv:hover, .bg-c-lightblue-ch-hv:hover > *, .bg-c-lightblue-rs-hv:hover * { background-color: lightblue; }
.bg-c-lightcoral, .bg-c-lightcoral-ch > *, .bg-c-lightcoral-rs * { background-color: lightcoral; }
.bg-c-lightcoral-hv:hover, .bg-c-lightcoral-ch-hv:hover > *, .bg-c-lightcoral-rs-hv:hover * { background-color: lightcoral; }
.bg-c-lightcyan, .bg-c-lightcyan-ch > *, .bg-c-lightcyan-rs * { background-color: lightcyan; }
.bg-c-lightcyan-hv:hover, .bg-c-lightcyan-ch-hv:hover > *, .bg-c-lightcyan-rs-hv:hover * { background-color: lightcyan; }
.bg-c-lightgoldenrodyellow, .bg-c-lightgoldenrodyellow-ch > *, .bg-c-lightgoldenrodyellow-rs * { background-color: lightgoldenrodyellow; }
.bg-c-lightgoldenrodyellow-hv:hover, .bg-c-lightgoldenrodyellow-ch-hv:hover > *, .bg-c-lightgoldenrodyellow-rs-hv:hover * { background-color: lightgoldenrodyellow; }
.bg-c-lightgray, .bg-c-lightgray-ch > *, .bg-c-lightgray-rs * { background-color: lightgray; }
.bg-c-lightgray-hv:hover, .bg-c-lightgray-ch-hv:hover > *, .bg-c-lightgray-rs-hv:hover * { background-color: lightgray; }
.bg-c-lightgrey, .bg-c-lightgrey-ch > *, .bg-c-lightgrey-rs * { background-color: lightgrey; }
.bg-c-lightgrey-hv:hover, .bg-c-lightgrey-ch-hv:hover > *, .bg-c-lightgrey-rs-hv:hover * { background-color: lightgrey; }
.bg-c-lightgreen, .bg-c-lightgreen-ch > *, .bg-c-lightgreen-rs * { background-color: lightgreen; }
.bg-c-lightgreen-hv:hover, .bg-c-lightgreen-ch-hv:hover > *, .bg-c-lightgreen-rs-hv:hover * { background-color: lightgreen; }
.bg-c-lightpink, .bg-c-lightpink-ch > *, .bg-c-lightpink-rs * { background-color: lightpink; }
.bg-c-lightpink-hv:hover, .bg-c-lightpink-ch-hv:hover > *, .bg-c-lightpink-rs-hv:hover * { background-color: lightpink; }
.bg-c-lightsalmon, .bg-c-lightsalmon-ch > *, .bg-c-lightsalmon-rs * { background-color: lightsalmon; }
.bg-c-lightsalmon-hv:hover, .bg-c-lightsalmon-ch-hv:hover > *, .bg-c-lightsalmon-rs-hv:hover * { background-color: lightsalmon; }
.bg-c-lightseagreen, .bg-c-lightseagreen-ch > *, .bg-c-lightseagreen-rs * { background-color: lightseagreen; }
.bg-c-lightseagreen-hv:hover, .bg-c-lightseagreen-ch-hv:hover > *, .bg-c-lightseagreen-rs-hv:hover * { background-color: lightseagreen; }
.bg-c-lightskyblue, .bg-c-lightskyblue-ch > *, .bg-c-lightskyblue-rs * { background-color: lightskyblue; }
.bg-c-lightskyblue-hv:hover, .bg-c-lightskyblue-ch-hv:hover > *, .bg-c-lightskyblue-rs-hv:hover * { background-color: lightskyblue; }
.bg-c-lightslategray, .bg-c-lightslategray-ch > *, .bg-c-lightslategray-rs * { background-color: lightslategray; }
.bg-c-lightslategray-hv:hover, .bg-c-lightslategray-ch-hv:hover > *, .bg-c-lightslategray-rs-hv:hover * { background-color: lightslategray; }
.bg-c-lightslategrey, .bg-c-lightslategrey-ch > *, .bg-c-lightslategrey-rs * { background-color: lightslategrey; }
.bg-c-lightslategrey-hv:hover, .bg-c-lightslategrey-ch-hv:hover > *, .bg-c-lightslategrey-rs-hv:hover * { background-color: lightslategrey; }
.bg-c-lightsteelblue, .bg-c-lightsteelblue-ch > *, .bg-c-lightsteelblue-rs * { background-color: lightsteelblue; }
.bg-c-lightsteelblue-hv:hover, .bg-c-lightsteelblue-ch-hv:hover > *, .bg-c-lightsteelblue-rs-hv:hover * { background-color: lightsteelblue; }
.bg-c-lightyellow, .bg-c-lightyellow-ch > *, .bg-c-lightyellow-rs * { background-color: lightyellow; }
.bg-c-lightyellow-hv:hover, .bg-c-lightyellow-ch-hv:hover > *, .bg-c-lightyellow-rs-hv:hover * { background-color: lightyellow; }
.bg-c-lime, .bg-c-lime-ch > *, .bg-c-lime-rs * { background-color: lime; }
.bg-c-lime-hv:hover, .bg-c-lime-ch-hv:hover > *, .bg-c-lime-rs-hv:hover * { background-color: lime; }
.bg-c-limegreen, .bg-c-limegreen-ch > *, .bg-c-limegreen-rs * { background-color: limegreen; }
.bg-c-limegreen-hv:hover, .bg-c-limegreen-ch-hv:hover > *, .bg-c-limegreen-rs-hv:hover * { background-color: limegreen; }
.bg-c-linen, .bg-c-linen-ch > *, .bg-c-linen-rs * { background-color: linen; }
.bg-c-linen-hv:hover, .bg-c-linen-ch-hv:hover > *, .bg-c-linen-rs-hv:hover * { background-color: linen; }
.bg-c-magenta, .bg-c-magenta-ch > *, .bg-c-magenta-rs * { background-color: magenta; }
.bg-c-magenta-hv:hover, .bg-c-magenta-ch-hv:hover > *, .bg-c-magenta-rs-hv:hover * { background-color: magenta; }
.bg-c-maroon, .bg-c-maroon-ch > *, .bg-c-maroon-rs * { background-color: maroon; }
.bg-c-maroon-hv:hover, .bg-c-maroon-ch-hv:hover > *, .bg-c-maroon-rs-hv:hover * { background-color: maroon; }
.bg-c-mediumaquamarine, .bg-c-mediumaquamarine-ch > *, .bg-c-mediumaquamarine-rs * { background-color: mediumaquamarine; }
.bg-c-mediumaquamarine-hv:hover, .bg-c-mediumaquamarine-ch-hv:hover > *, .bg-c-mediumaquamarine-rs-hv:hover * { background-color: mediumaquamarine; }
.bg-c-mediumblue, .bg-c-mediumblue-ch > *, .bg-c-mediumblue-rs * { background-color: mediumblue; }
.bg-c-mediumblue-hv:hover, .bg-c-mediumblue-ch-hv:hover > *, .bg-c-mediumblue-rs-hv:hover * { background-color: mediumblue; }
.bg-c-mediumorchid, .bg-c-mediumorchid-ch > *, .bg-c-mediumorchid-rs * { background-color: mediumorchid; }
.bg-c-mediumorchid-hv:hover, .bg-c-mediumorchid-ch-hv:hover > *, .bg-c-mediumorchid-rs-hv:hover * { background-color: mediumorchid; }
.bg-c-mediumpurple, .bg-c-mediumpurple-ch > *, .bg-c-mediumpurple-rs * { background-color: mediumpurple; }
.bg-c-mediumpurple-hv:hover, .bg-c-mediumpurple-ch-hv:hover > *, .bg-c-mediumpurple-rs-hv:hover * { background-color: mediumpurple; }
.bg-c-mediumseagreen, .bg-c-mediumseagreen-ch > *, .bg-c-mediumseagreen-rs * { background-color: mediumseagreen; }
.bg-c-mediumseagreen-hv:hover, .bg-c-mediumseagreen-ch-hv:hover > *, .bg-c-mediumseagreen-rs-hv:hover * { background-color: mediumseagreen; }
.bg-c-mediumslateblue, .bg-c-mediumslateblue-ch > *, .bg-c-mediumslateblue-rs * { background-color: mediumslateblue; }
.bg-c-mediumslateblue-hv:hover, .bg-c-mediumslateblue-ch-hv:hover > *, .bg-c-mediumslateblue-rs-hv:hover * { background-color: mediumslateblue; }
.bg-c-mediumspringgreen, .bg-c-mediumspringgreen-ch > *, .bg-c-mediumspringgreen-rs * { background-color: mediumspringgreen; }
.bg-c-mediumspringgreen-hv:hover, .bg-c-mediumspringgreen-ch-hv:hover > *, .bg-c-mediumspringgreen-rs-hv:hover * { background-color: mediumspringgreen; }
.bg-c-mediumturquoise, .bg-c-mediumturquoise-ch > *, .bg-c-mediumturquoise-rs * { background-color: mediumturquoise; }
.bg-c-mediumturquoise-hv:hover, .bg-c-mediumturquoise-ch-hv:hover > *, .bg-c-mediumturquoise-rs-hv:hover * { background-color: mediumturquoise; }
.bg-c-mediumvioletred, .bg-c-mediumvioletred-ch > *, .bg-c-mediumvioletred-rs * { background-color: mediumvioletred; }
.bg-c-mediumvioletred-hv:hover, .bg-c-mediumvioletred-ch-hv:hover > *, .bg-c-mediumvioletred-rs-hv:hover * { background-color: mediumvioletred; }
.bg-c-midnightblue, .bg-c-midnightblue-ch > *, .bg-c-midnightblue-rs * { background-color: midnightblue; }
.bg-c-midnightblue-hv:hover, .bg-c-midnightblue-ch-hv:hover > *, .bg-c-midnightblue-rs-hv:hover * { background-color: midnightblue; }
.bg-c-mintcream, .bg-c-mintcream-ch > *, .bg-c-mintcream-rs * { background-color: mintcream; }
.bg-c-mintcream-hv:hover, .bg-c-mintcream-ch-hv:hover > *, .bg-c-mintcream-rs-hv:hover * { background-color: mintcream; }
.bg-c-mistyrose, .bg-c-mistyrose-ch > *, .bg-c-mistyrose-rs * { background-color: mistyrose; }
.bg-c-mistyrose-hv:hover, .bg-c-mistyrose-ch-hv:hover > *, .bg-c-mistyrose-rs-hv:hover * { background-color: mistyrose; }
.bg-c-moccasin, .bg-c-moccasin-ch > *, .bg-c-moccasin-rs * { background-color: moccasin; }
.bg-c-moccasin-hv:hover, .bg-c-moccasin-ch-hv:hover > *, .bg-c-moccasin-rs-hv:hover * { background-color: moccasin; }
.bg-c-navajowhite, .bg-c-navajowhite-ch > *, .bg-c-navajowhite-rs * { background-color: navajowhite; }
.bg-c-navajowhite-hv:hover, .bg-c-navajowhite-ch-hv:hover > *, .bg-c-navajowhite-rs-hv:hover * { background-color: navajowhite; }
.bg-c-navy, .bg-c-navy-ch > *, .bg-c-navy-rs * { background-color: navy; }
.bg-c-navy-hv:hover, .bg-c-navy-ch-hv:hover > *, .bg-c-navy-rs-hv:hover * { background-color: navy; }
.bg-c-oldlace, .bg-c-oldlace-ch > *, .bg-c-oldlace-rs * { background-color: oldlace; }
.bg-c-oldlace-hv:hover, .bg-c-oldlace-ch-hv:hover > *, .bg-c-oldlace-rs-hv:hover * { background-color: oldlace; }
.bg-c-olive, .bg-c-olive-ch > *, .bg-c-olive-rs * { background-color: olive; }
.bg-c-olive-hv:hover, .bg-c-olive-ch-hv:hover > *, .bg-c-olive-rs-hv:hover * { background-color: olive; }
.bg-c-olivedrab, .bg-c-olivedrab-ch > *, .bg-c-olivedrab-rs * { background-color: olivedrab; }
.bg-c-olivedrab-hv:hover, .bg-c-olivedrab-ch-hv:hover > *, .bg-c-olivedrab-rs-hv:hover * { background-color: olivedrab; }
.bg-c-orange, .bg-c-orange-ch > *, .bg-c-orange-rs * { background-color: orange; }
.bg-c-orange-hv:hover, .bg-c-orange-ch-hv:hover > *, .bg-c-orange-rs-hv:hover * { background-color: orange; }
.bg-c-orangered, .bg-c-orangered-ch > *, .bg-c-orangered-rs * { background-color: orangered; }
.bg-c-orangered-hv:hover, .bg-c-orangered-ch-hv:hover > *, .bg-c-orangered-rs-hv:hover * { background-color: orangered; }
.bg-c-orchid, .bg-c-orchid-ch > *, .bg-c-orchid-rs * { background-color: orchid; }
.bg-c-orchid-hv:hover, .bg-c-orchid-ch-hv:hover > *, .bg-c-orchid-rs-hv:hover * { background-color: orchid; }
.bg-c-palegoldenrod, .bg-c-palegoldenrod-ch > *, .bg-c-palegoldenrod-rs * { background-color: palegoldenrod; }
.bg-c-palegoldenrod-hv:hover, .bg-c-palegoldenrod-ch-hv:hover > *, .bg-c-palegoldenrod-rs-hv:hover * { background-color: palegoldenrod; }
.bg-c-palegreen, .bg-c-palegreen-ch > *, .bg-c-palegreen-rs * { background-color: palegreen; }
.bg-c-palegreen-hv:hover, .bg-c-palegreen-ch-hv:hover > *, .bg-c-palegreen-rs-hv:hover * { background-color: palegreen; }
.bg-c-paleturquoise, .bg-c-paleturquoise-ch > *, .bg-c-paleturquoise-rs * { background-color: paleturquoise; }
.bg-c-paleturquoise-hv:hover, .bg-c-paleturquoise-ch-hv:hover > *, .bg-c-paleturquoise-rs-hv:hover * { background-color: paleturquoise; }
.bg-c-palevioletred, .bg-c-palevioletred-ch > *, .bg-c-palevioletred-rs * { background-color: palevioletred; }
.bg-c-palevioletred-hv:hover, .bg-c-palevioletred-ch-hv:hover > *, .bg-c-palevioletred-rs-hv:hover * { background-color: palevioletred; }
.bg-c-papayawhip, .bg-c-papayawhip-ch > *, .bg-c-papayawhip-rs * { background-color: papayawhip; }
.bg-c-papayawhip-hv:hover, .bg-c-papayawhip-ch-hv:hover > *, .bg-c-papayawhip-rs-hv:hover * { background-color: papayawhip; }
.bg-c-peachpuff, .bg-c-peachpuff-ch > *, .bg-c-peachpuff-rs * { background-color: peachpuff; }
.bg-c-peachpuff-hv:hover, .bg-c-peachpuff-ch-hv:hover > *, .bg-c-peachpuff-rs-hv:hover * { background-color: peachpuff; }
.bg-c-peru, .bg-c-peru-ch > *, .bg-c-peru-rs * { background-color: peru; }
.bg-c-peru-hv:hover, .bg-c-peru-ch-hv:hover > *, .bg-c-peru-rs-hv:hover * { background-color: peru; }
.bg-c-pink, .bg-c-pink-ch > *, .bg-c-pink-rs * { background-color: pink; }
.bg-c-pink-hv:hover, .bg-c-pink-ch-hv:hover > *, .bg-c-pink-rs-hv:hover * { background-color: pink; }
.bg-c-plum, .bg-c-plum-ch > *, .bg-c-plum-rs * { background-color: plum; }
.bg-c-plum-hv:hover, .bg-c-plum-ch-hv:hover > *, .bg-c-plum-rs-hv:hover * { background-color: plum; }
.bg-c-powderblue, .bg-c-powderblue-ch > *, .bg-c-powderblue-rs * { background-color: powderblue; }
.bg-c-powderblue-hv:hover, .bg-c-powderblue-ch-hv:hover > *, .bg-c-powderblue-rs-hv:hover * { background-color: powderblue; }
.bg-c-purple, .bg-c-purple-ch > *, .bg-c-purple-rs * { background-color: purple; }
.bg-c-purple-hv:hover, .bg-c-purple-ch-hv:hover > *, .bg-c-purple-rs-hv:hover * { background-color: purple; }
.bg-c-rebeccapurple, .bg-c-rebeccapurple-ch > *, .bg-c-rebeccapurple-rs * { background-color: rebeccapurple; }
.bg-c-rebeccapurple-hv:hover, .bg-c-rebeccapurple-ch-hv:hover > *, .bg-c-rebeccapurple-rs-hv:hover * { background-color: rebeccapurple; }
.bg-c-red, .bg-c-red-ch > *, .bg-c-red-rs * { background-color: red; }
.bg-c-red-hv:hover, .bg-c-red-ch-hv:hover > *, .bg-c-red-rs-hv:hover * { background-color: red; }
.bg-c-rosybrown, .bg-c-rosybrown-ch > *, .bg-c-rosybrown-rs * { background-color: rosybrown; }
.bg-c-rosybrown-hv:hover, .bg-c-rosybrown-ch-hv:hover > *, .bg-c-rosybrown-rs-hv:hover * { background-color: rosybrown; }
.bg-c-royalblue, .bg-c-royalblue-ch > *, .bg-c-royalblue-rs * { background-color: royalblue; }
.bg-c-royalblue-hv:hover, .bg-c-royalblue-ch-hv:hover > *, .bg-c-royalblue-rs-hv:hover * { background-color: royalblue; }
.bg-c-saddlebrown, .bg-c-saddlebrown-ch > *, .bg-c-saddlebrown-rs * { background-color: saddlebrown; }
.bg-c-saddlebrown-hv:hover, .bg-c-saddlebrown-ch-hv:hover > *, .bg-c-saddlebrown-rs-hv:hover * { background-color: saddlebrown; }
.bg-c-salmon, .bg-c-salmon-ch > *, .bg-c-salmon-rs * { background-color: salmon; }
.bg-c-salmon-hv:hover, .bg-c-salmon-ch-hv:hover > *, .bg-c-salmon-rs-hv:hover * { background-color: salmon; }
.bg-c-sandybrown, .bg-c-sandybrown-ch > *, .bg-c-sandybrown-rs * { background-color: sandybrown; }
.bg-c-sandybrown-hv:hover, .bg-c-sandybrown-ch-hv:hover > *, .bg-c-sandybrown-rs-hv:hover * { background-color: sandybrown; }
.bg-c-seagreen, .bg-c-seagreen-ch > *, .bg-c-seagreen-rs * { background-color: seagreen; }
.bg-c-seagreen-hv:hover, .bg-c-seagreen-ch-hv:hover > *, .bg-c-seagreen-rs-hv:hover * { background-color: seagreen; }
.bg-c-seashell, .bg-c-seashell-ch > *, .bg-c-seashell-rs * { background-color: seashell; }
.bg-c-seashell-hv:hover, .bg-c-seashell-ch-hv:hover > *, .bg-c-seashell-rs-hv:hover * { background-color: seashell; }
.bg-c-sienna, .bg-c-sienna-ch > *, .bg-c-sienna-rs * { background-color: sienna; }
.bg-c-sienna-hv:hover, .bg-c-sienna-ch-hv:hover > *, .bg-c-sienna-rs-hv:hover * { background-color: sienna; }
.bg-c-silver, .bg-c-silver-ch > *, .bg-c-silver-rs * { background-color: silver; }
.bg-c-silver-hv:hover, .bg-c-silver-ch-hv:hover > *, .bg-c-silver-rs-hv:hover * { background-color: silver; }
.bg-c-skyblue, .bg-c-skyblue-ch > *, .bg-c-skyblue-rs * { background-color: skyblue; }
.bg-c-skyblue-hv:hover, .bg-c-skyblue-ch-hv:hover > *, .bg-c-skyblue-rs-hv:hover * { background-color: skyblue; }
.bg-c-slateblue, .bg-c-slateblue-ch > *, .bg-c-slateblue-rs * { background-color: slateblue; }
.bg-c-slateblue-hv:hover, .bg-c-slateblue-ch-hv:hover > *, .bg-c-slateblue-rs-hv:hover * { background-color: slateblue; }
.bg-c-slategray, .bg-c-slategray-ch > *, .bg-c-slategray-rs * { background-color: slategray; }
.bg-c-slategray-hv:hover, .bg-c-slategray-ch-hv:hover > *, .bg-c-slategray-rs-hv:hover * { background-color: slategray; }
.bg-c-slategrey, .bg-c-slategrey-ch > *, .bg-c-slategrey-rs * { background-color: slategrey; }
.bg-c-slategrey-hv:hover, .bg-c-slategrey-ch-hv:hover > *, .bg-c-slategrey-rs-hv:hover * { background-color: slategrey; }
.bg-c-snow, .bg-c-snow-ch > *, .bg-c-snow-rs * { background-color: snow; }
.bg-c-snow-hv:hover, .bg-c-snow-ch-hv:hover > *, .bg-c-snow-rs-hv:hover * { background-color: snow; }
.bg-c-springgreen, .bg-c-springgreen-ch > *, .bg-c-springgreen-rs * { background-color: springgreen; }
.bg-c-springgreen-hv:hover, .bg-c-springgreen-ch-hv:hover > *, .bg-c-springgreen-rs-hv:hover * { background-color: springgreen; }
.bg-c-steelblue, .bg-c-steelblue-ch > *, .bg-c-steelblue-rs * { background-color: steelblue; }
.bg-c-steelblue-hv:hover, .bg-c-steelblue-ch-hv:hover > *, .bg-c-steelblue-rs-hv:hover * { background-color: steelblue; }
.bg-c-tan, .bg-c-tan-ch > *, .bg-c-tan-rs * { background-color: tan; }
.bg-c-tan-hv:hover, .bg-c-tan-ch-hv:hover > *, .bg-c-tan-rs-hv:hover * { background-color: tan; }
.bg-c-teal, .bg-c-teal-ch > *, .bg-c-teal-rs * { background-color: teal; }
.bg-c-teal-hv:hover, .bg-c-teal-ch-hv:hover > *, .bg-c-teal-rs-hv:hover * { background-color: teal; }
.bg-c-thistle, .bg-c-thistle-ch > *, .bg-c-thistle-rs * { background-color: thistle; }
.bg-c-thistle-hv:hover, .bg-c-thistle-ch-hv:hover > *, .bg-c-thistle-rs-hv:hover * { background-color: thistle; }
.bg-c-tomato, .bg-c-tomato-ch > *, .bg-c-tomato-rs * { background-color: tomato; }
.bg-c-tomato-hv:hover, .bg-c-tomato-ch-hv:hover > *, .bg-c-tomato-rs-hv:hover * { background-color: tomato; }
.bg-c-turquoise, .bg-c-turquoise-ch > *, .bg-c-turquoise-rs * { background-color: turquoise; }
.bg-c-turquoise-hv:hover, .bg-c-turquoise-ch-hv:hover > *, .bg-c-turquoise-rs-hv:hover * { background-color: turquoise; }
.bg-c-violet, .bg-c-violet-ch > *, .bg-c-violet-rs * { background-color: violet; }
.bg-c-violet-hv:hover, .bg-c-violet-ch-hv:hover > *, .bg-c-violet-rs-hv:hover * { background-color: violet; }
.bg-c-wheat, .bg-c-wheat-ch > *, .bg-c-wheat-rs * { background-color: wheat; }
.bg-c-wheat-hv:hover, .bg-c-wheat-ch-hv:hover > *, .bg-c-wheat-rs-hv:hover * { background-color: wheat; }
.bg-c-white, .bg-c-white-ch > *, .bg-c-white-rs * { background-color: white; }
.bg-c-white-hv:hover, .bg-c-white-ch-hv:hover > *, .bg-c-white-rs-hv:hover * { background-color: white; }
.bg-c-whitesmoke, .bg-c-whitesmoke-ch > *, .bg-c-whitesmoke-rs * { background-color: whitesmoke; }
.bg-c-whitesmoke-hv:hover, .bg-c-whitesmoke-ch-hv:hover > *, .bg-c-whitesmoke-rs-hv:hover * { background-color: whitesmoke; }
.bg-c-yellow, .bg-c-yellow-ch > *, .bg-c-yellow-rs * { background-color: yellow; }
.bg-c-yellow-hv:hover, .bg-c-yellow-ch-hv:hover > *, .bg-c-yellow-rs-hv:hover * { background-color: yellow; }
.bg-c-yellowgreen, .bg-c-yellowgreen-ch > *, .bg-c-yellowgreen-rs * { background-color: yellowgreen; }
.bg-c-yellowgreen-hv:hover, .bg-c-yellowgreen-ch-hv:hover > *, .bg-c-yellowgreen-rs-hv:hover * { background-color: yellowgreen; }
.c-aliceblue, .c-aliceblue-ch > *, .c-aliceblue-rs * { color: aliceblue; }
.c-aliceblue-hv:hover, .c-aliceblue-ch-hv:hover > *, .c-aliceblue-rs-hv:hover * { color: aliceblue; }
.c-antiquewhite, .c-antiquewhite-ch > *, .c-antiquewhite-rs * { color: antiquewhite; }
.c-antiquewhite-hv:hover, .c-antiquewhite-ch-hv:hover > *, .c-antiquewhite-rs-hv:hover * { color: antiquewhite; }
.c-aqua, .c-aqua-ch > *, .c-aqua-rs * { color: aqua; }
.c-aqua-hv:hover, .c-aqua-ch-hv:hover > *, .c-aqua-rs-hv:hover * { color: aqua; }
.c-aquamarine, .c-aquamarine-ch > *, .c-aquamarine-rs * { color: aquamarine; }
.c-aquamarine-hv:hover, .c-aquamarine-ch-hv:hover > *, .c-aquamarine-rs-hv:hover * { color: aquamarine; }
.c-azure, .c-azure-ch > *, .c-azure-rs * { color: azure; }
.c-azure-hv:hover, .c-azure-ch-hv:hover > *, .c-azure-rs-hv:hover * { color: azure; }
.c-beige, .c-beige-ch > *, .c-beige-rs * { color: beige; }
.c-beige-hv:hover, .c-beige-ch-hv:hover > *, .c-beige-rs-hv:hover * { color: beige; }
.c-bisque, .c-bisque-ch > *, .c-bisque-rs * { color: bisque; }
.c-bisque-hv:hover, .c-bisque-ch-hv:hover > *, .c-bisque-rs-hv:hover * { color: bisque; }
.c-black, .c-black-ch > *, .c-black-rs * { color: black; }
.c-black-hv:hover, .c-black-ch-hv:hover > *, .c-black-rs-hv:hover * { color: black; }
.c-blanchedalmond, .c-blanchedalmond-ch > *, .c-blanchedalmond-rs * { color: blanchedalmond; }
.c-blanchedalmond-hv:hover, .c-blanchedalmond-ch-hv:hover > *, .c-blanchedalmond-rs-hv:hover * { color: blanchedalmond; }
.c-blue, .c-blue-ch > *, .c-blue-rs * { color: blue; }
.c-blue-hv:hover, .c-blue-ch-hv:hover > *, .c-blue-rs-hv:hover * { color: blue; }
.c-blueviolet, .c-blueviolet-ch > *, .c-blueviolet-rs * { color: blueviolet; }
.c-blueviolet-hv:hover, .c-blueviolet-ch-hv:hover > *, .c-blueviolet-rs-hv:hover * { color: blueviolet; }
.c-brown, .c-brown-ch > *, .c-brown-rs * { color: brown; }
.c-brown-hv:hover, .c-brown-ch-hv:hover > *, .c-brown-rs-hv:hover * { color: brown; }
.c-burlywood, .c-burlywood-ch > *, .c-burlywood-rs * { color: burlywood; }
.c-burlywood-hv:hover, .c-burlywood-ch-hv:hover > *, .c-burlywood-rs-hv:hover * { color: burlywood; }
.c-cadetblue, .c-cadetblue-ch > *, .c-cadetblue-rs * { color: cadetblue; }
.c-cadetblue-hv:hover, .c-cadetblue-ch-hv:hover > *, .c-cadetblue-rs-hv:hover * { color: cadetblue; }
.c-chartreuse, .c-chartreuse-ch > *, .c-chartreuse-rs * { color: chartreuse; }
.c-chartreuse-hv:hover, .c-chartreuse-ch-hv:hover > *, .c-chartreuse-rs-hv:hover * { color: chartreuse; }
.c-chocolate, .c-chocolate-ch > *, .c-chocolate-rs * { color: chocolate; }
.c-chocolate-hv:hover, .c-chocolate-ch-hv:hover > *, .c-chocolate-rs-hv:hover * { color: chocolate; }
.c-coral, .c-coral-ch > *, .c-coral-rs * { color: coral; }
.c-coral-hv:hover, .c-coral-ch-hv:hover > *, .c-coral-rs-hv:hover * { color: coral; }
.c-cornflowerblue, .c-cornflowerblue-ch > *, .c-cornflowerblue-rs * { color: cornflowerblue; }
.c-cornflowerblue-hv:hover, .c-cornflowerblue-ch-hv:hover > *, .c-cornflowerblue-rs-hv:hover * { color: cornflowerblue; }
.c-cornsilk, .c-cornsilk-ch > *, .c-cornsilk-rs * { color: cornsilk; }
.c-cornsilk-hv:hover, .c-cornsilk-ch-hv:hover > *, .c-cornsilk-rs-hv:hover * { color: cornsilk; }
.c-crimson, .c-crimson-ch > *, .c-crimson-rs * { color: crimson; }
.c-crimson-hv:hover, .c-crimson-ch-hv:hover > *, .c-crimson-rs-hv:hover * { color: crimson; }
.c-cyan, .c-cyan-ch > *, .c-cyan-rs * { color: cyan; }
.c-cyan-hv:hover, .c-cyan-ch-hv:hover > *, .c-cyan-rs-hv:hover * { color: cyan; }
.c-darkblue, .c-darkblue-ch > *, .c-darkblue-rs * { color: darkblue; }
.c-darkblue-hv:hover, .c-darkblue-ch-hv:hover > *, .c-darkblue-rs-hv:hover * { color: darkblue; }
.c-darkcyan, .c-darkcyan-ch > *, .c-darkcyan-rs * { color: darkcyan; }
.c-darkcyan-hv:hover, .c-darkcyan-ch-hv:hover > *, .c-darkcyan-rs-hv:hover * { color: darkcyan; }
.c-darkgoldenrod, .c-darkgoldenrod-ch > *, .c-darkgoldenrod-rs * { color: darkgoldenrod; }
.c-darkgoldenrod-hv:hover, .c-darkgoldenrod-ch-hv:hover > *, .c-darkgoldenrod-rs-hv:hover * { color: darkgoldenrod; }
.c-darkgray, .c-darkgray-ch > *, .c-darkgray-rs * { color: darkgray; }
.c-darkgray-hv:hover, .c-darkgray-ch-hv:hover > *, .c-darkgray-rs-hv:hover * { color: darkgray; }
.c-darkgrey, .c-darkgrey-ch > *, .c-darkgrey-rs * { color: darkgrey; }
.c-darkgrey-hv:hover, .c-darkgrey-ch-hv:hover > *, .c-darkgrey-rs-hv:hover * { color: darkgrey; }
.c-darkgreen, .c-darkgreen-ch > *, .c-darkgreen-rs * { color: darkgreen; }
.c-darkgreen-hv:hover, .c-darkgreen-ch-hv:hover > *, .c-darkgreen-rs-hv:hover * { color: darkgreen; }
.c-darkkhaki, .c-darkkhaki-ch > *, .c-darkkhaki-rs * { color: darkkhaki; }
.c-darkkhaki-hv:hover, .c-darkkhaki-ch-hv:hover > *, .c-darkkhaki-rs-hv:hover * { color: darkkhaki; }
.c-darkmagenta, .c-darkmagenta-ch > *, .c-darkmagenta-rs * { color: darkmagenta; }
.c-darkmagenta-hv:hover, .c-darkmagenta-ch-hv:hover > *, .c-darkmagenta-rs-hv:hover * { color: darkmagenta; }
.c-darkolivegreen, .c-darkolivegreen-ch > *, .c-darkolivegreen-rs * { color: darkolivegreen; }
.c-darkolivegreen-hv:hover, .c-darkolivegreen-ch-hv:hover > *, .c-darkolivegreen-rs-hv:hover * { color: darkolivegreen; }
.c-darkorange, .c-darkorange-ch > *, .c-darkorange-rs * { color: darkorange; }
.c-darkorange-hv:hover, .c-darkorange-ch-hv:hover > *, .c-darkorange-rs-hv:hover * { color: darkorange; }
.c-darkorchid, .c-darkorchid-ch > *, .c-darkorchid-rs * { color: darkorchid; }
.c-darkorchid-hv:hover, .c-darkorchid-ch-hv:hover > *, .c-darkorchid-rs-hv:hover * { color: darkorchid; }
.c-darkred, .c-darkred-ch > *, .c-darkred-rs * { color: darkred; }
.c-darkred-hv:hover, .c-darkred-ch-hv:hover > *, .c-darkred-rs-hv:hover * { color: darkred; }
.c-darksalmon, .c-darksalmon-ch > *, .c-darksalmon-rs * { color: darksalmon; }
.c-darksalmon-hv:hover, .c-darksalmon-ch-hv:hover > *, .c-darksalmon-rs-hv:hover * { color: darksalmon; }
.c-darkseagreen, .c-darkseagreen-ch > *, .c-darkseagreen-rs * { color: darkseagreen; }
.c-darkseagreen-hv:hover, .c-darkseagreen-ch-hv:hover > *, .c-darkseagreen-rs-hv:hover * { color: darkseagreen; }
.c-darkslateblue, .c-darkslateblue-ch > *, .c-darkslateblue-rs * { color: darkslateblue; }
.c-darkslateblue-hv:hover, .c-darkslateblue-ch-hv:hover > *, .c-darkslateblue-rs-hv:hover * { color: darkslateblue; }
.c-darkslategray, .c-darkslategray-ch > *, .c-darkslategray-rs * { color: darkslategray; }
.c-darkslategray-hv:hover, .c-darkslategray-ch-hv:hover > *, .c-darkslategray-rs-hv:hover * { color: darkslategray; }
.c-darkslategrey, .c-darkslategrey-ch > *, .c-darkslategrey-rs * { color: darkslategrey; }
.c-darkslategrey-hv:hover, .c-darkslategrey-ch-hv:hover > *, .c-darkslategrey-rs-hv:hover * { color: darkslategrey; }
.c-darkturquoise, .c-darkturquoise-ch > *, .c-darkturquoise-rs * { color: darkturquoise; }
.c-darkturquoise-hv:hover, .c-darkturquoise-ch-hv:hover > *, .c-darkturquoise-rs-hv:hover * { color: darkturquoise; }
.c-darkviolet, .c-darkviolet-ch > *, .c-darkviolet-rs * { color: darkviolet; }
.c-darkviolet-hv:hover, .c-darkviolet-ch-hv:hover > *, .c-darkviolet-rs-hv:hover * { color: darkviolet; }
.c-deeppink, .c-deeppink-ch > *, .c-deeppink-rs * { color: deeppink; }
.c-deeppink-hv:hover, .c-deeppink-ch-hv:hover > *, .c-deeppink-rs-hv:hover * { color: deeppink; }
.c-deepskyblue, .c-deepskyblue-ch > *, .c-deepskyblue-rs * { color: deepskyblue; }
.c-deepskyblue-hv:hover, .c-deepskyblue-ch-hv:hover > *, .c-deepskyblue-rs-hv:hover * { color: deepskyblue; }
.c-dimgray, .c-dimgray-ch > *, .c-dimgray-rs * { color: dimgray; }
.c-dimgray-hv:hover, .c-dimgray-ch-hv:hover > *, .c-dimgray-rs-hv:hover * { color: dimgray; }
.c-dimgrey, .c-dimgrey-ch > *, .c-dimgrey-rs * { color: dimgrey; }
.c-dimgrey-hv:hover, .c-dimgrey-ch-hv:hover > *, .c-dimgrey-rs-hv:hover * { color: dimgrey; }
.c-dodgerblue, .c-dodgerblue-ch > *, .c-dodgerblue-rs * { color: dodgerblue; }
.c-dodgerblue-hv:hover, .c-dodgerblue-ch-hv:hover > *, .c-dodgerblue-rs-hv:hover * { color: dodgerblue; }
.c-firebrick, .c-firebrick-ch > *, .c-firebrick-rs * { color: firebrick; }
.c-firebrick-hv:hover, .c-firebrick-ch-hv:hover > *, .c-firebrick-rs-hv:hover * { color: firebrick; }
.c-floralwhite, .c-floralwhite-ch > *, .c-floralwhite-rs * { color: floralwhite; }
.c-floralwhite-hv:hover, .c-floralwhite-ch-hv:hover > *, .c-floralwhite-rs-hv:hover * { color: floralwhite; }
.c-forestgreen, .c-forestgreen-ch > *, .c-forestgreen-rs * { color: forestgreen; }
.c-forestgreen-hv:hover, .c-forestgreen-ch-hv:hover > *, .c-forestgreen-rs-hv:hover * { color: forestgreen; }
.c-fuchsia, .c-fuchsia-ch > *, .c-fuchsia-rs * { color: fuchsia; }
.c-fuchsia-hv:hover, .c-fuchsia-ch-hv:hover > *, .c-fuchsia-rs-hv:hover * { color: fuchsia; }
.c-gainsboro, .c-gainsboro-ch > *, .c-gainsboro-rs * { color: gainsboro; }
.c-gainsboro-hv:hover, .c-gainsboro-ch-hv:hover > *, .c-gainsboro-rs-hv:hover * { color: gainsboro; }
.c-ghostwhite, .c-ghostwhite-ch > *, .c-ghostwhite-rs * { color: ghostwhite; }
.c-ghostwhite-hv:hover, .c-ghostwhite-ch-hv:hover > *, .c-ghostwhite-rs-hv:hover * { color: ghostwhite; }
.c-gold, .c-gold-ch > *, .c-gold-rs * { color: gold; }
.c-gold-hv:hover, .c-gold-ch-hv:hover > *, .c-gold-rs-hv:hover * { color: gold; }
.c-goldenrod, .c-goldenrod-ch > *, .c-goldenrod-rs * { color: goldenrod; }
.c-goldenrod-hv:hover, .c-goldenrod-ch-hv:hover > *, .c-goldenrod-rs-hv:hover * { color: goldenrod; }
.c-gray, .c-gray-ch > *, .c-gray-rs * { color: gray; }
.c-gray-hv:hover, .c-gray-ch-hv:hover > *, .c-gray-rs-hv:hover * { color: gray; }
.c-grey, .c-grey-ch > *, .c-grey-rs * { color: grey; }
.c-grey-hv:hover, .c-grey-ch-hv:hover > *, .c-grey-rs-hv:hover * { color: grey; }
.c-green, .c-green-ch > *, .c-green-rs * { color: green; }
.c-green-hv:hover, .c-green-ch-hv:hover > *, .c-green-rs-hv:hover * { color: green; }
.c-greenyellow, .c-greenyellow-ch > *, .c-greenyellow-rs * { color: greenyellow; }
.c-greenyellow-hv:hover, .c-greenyellow-ch-hv:hover > *, .c-greenyellow-rs-hv:hover * { color: greenyellow; }
.c-honeydew, .c-honeydew-ch > *, .c-honeydew-rs * { color: honeydew; }
.c-honeydew-hv:hover, .c-honeydew-ch-hv:hover > *, .c-honeydew-rs-hv:hover * { color: honeydew; }
.c-hotpink, .c-hotpink-ch > *, .c-hotpink-rs * { color: hotpink; }
.c-hotpink-hv:hover, .c-hotpink-ch-hv:hover > *, .c-hotpink-rs-hv:hover * { color: hotpink; }
.c-indianred, .c-indianred-ch > *, .c-indianred-rs * { color: indianred; }
.c-indianred-hv:hover, .c-indianred-ch-hv:hover > *, .c-indianred-rs-hv:hover * { color: indianred; }
.c-indigo, .c-indigo-ch > *, .c-indigo-rs * { color: indigo; }
.c-indigo-hv:hover, .c-indigo-ch-hv:hover > *, .c-indigo-rs-hv:hover * { color: indigo; }
.c-ivory, .c-ivory-ch > *, .c-ivory-rs * { color: ivory; }
.c-ivory-hv:hover, .c-ivory-ch-hv:hover > *, .c-ivory-rs-hv:hover * { color: ivory; }
.c-khaki, .c-khaki-ch > *, .c-khaki-rs * { color: khaki; }
.c-khaki-hv:hover, .c-khaki-ch-hv:hover > *, .c-khaki-rs-hv:hover * { color: khaki; }
.c-lavender, .c-lavender-ch > *, .c-lavender-rs * { color: lavender; }
.c-lavender-hv:hover, .c-lavender-ch-hv:hover > *, .c-lavender-rs-hv:hover * { color: lavender; }
.c-lavenderblush, .c-lavenderblush-ch > *, .c-lavenderblush-rs * { color: lavenderblush; }
.c-lavenderblush-hv:hover, .c-lavenderblush-ch-hv:hover > *, .c-lavenderblush-rs-hv:hover * { color: lavenderblush; }
.c-lawngreen, .c-lawngreen-ch > *, .c-lawngreen-rs * { color: lawngreen; }
.c-lawngreen-hv:hover, .c-lawngreen-ch-hv:hover > *, .c-lawngreen-rs-hv:hover * { color: lawngreen; }
.c-lemonchiffon, .c-lemonchiffon-ch > *, .c-lemonchiffon-rs * { color: lemonchiffon; }
.c-lemonchiffon-hv:hover, .c-lemonchiffon-ch-hv:hover > *, .c-lemonchiffon-rs-hv:hover * { color: lemonchiffon; }
.c-lightblue, .c-lightblue-ch > *, .c-lightblue-rs * { color: lightblue; }
.c-lightblue-hv:hover, .c-lightblue-ch-hv:hover > *, .c-lightblue-rs-hv:hover * { color: lightblue; }
.c-lightcoral, .c-lightcoral-ch > *, .c-lightcoral-rs * { color: lightcoral; }
.c-lightcoral-hv:hover, .c-lightcoral-ch-hv:hover > *, .c-lightcoral-rs-hv:hover * { color: lightcoral; }
.c-lightcyan, .c-lightcyan-ch > *, .c-lightcyan-rs * { color: lightcyan; }
.c-lightcyan-hv:hover, .c-lightcyan-ch-hv:hover > *, .c-lightcyan-rs-hv:hover * { color: lightcyan; }
.c-lightgoldenrodyellow, .c-lightgoldenrodyellow-ch > *, .c-lightgoldenrodyellow-rs * { color: lightgoldenrodyellow; }
.c-lightgoldenrodyellow-hv:hover, .c-lightgoldenrodyellow-ch-hv:hover > *, .c-lightgoldenrodyellow-rs-hv:hover * { color: lightgoldenrodyellow; }
.c-lightgray, .c-lightgray-ch > *, .c-lightgray-rs * { color: lightgray; }
.c-lightgray-hv:hover, .c-lightgray-ch-hv:hover > *, .c-lightgray-rs-hv:hover * { color: lightgray; }
.c-lightgrey, .c-lightgrey-ch > *, .c-lightgrey-rs * { color: lightgrey; }
.c-lightgrey-hv:hover, .c-lightgrey-ch-hv:hover > *, .c-lightgrey-rs-hv:hover * { color: lightgrey; }
.c-lightgreen, .c-lightgreen-ch > *, .c-lightgreen-rs * { color: lightgreen; }
.c-lightgreen-hv:hover, .c-lightgreen-ch-hv:hover > *, .c-lightgreen-rs-hv:hover * { color: lightgreen; }
.c-lightpink, .c-lightpink-ch > *, .c-lightpink-rs * { color: lightpink; }
.c-lightpink-hv:hover, .c-lightpink-ch-hv:hover > *, .c-lightpink-rs-hv:hover * { color: lightpink; }
.c-lightsalmon, .c-lightsalmon-ch > *, .c-lightsalmon-rs * { color: lightsalmon; }
.c-lightsalmon-hv:hover, .c-lightsalmon-ch-hv:hover > *, .c-lightsalmon-rs-hv:hover * { color: lightsalmon; }
.c-lightseagreen, .c-lightseagreen-ch > *, .c-lightseagreen-rs * { color: lightseagreen; }
.c-lightseagreen-hv:hover, .c-lightseagreen-ch-hv:hover > *, .c-lightseagreen-rs-hv:hover * { color: lightseagreen; }
.c-lightskyblue, .c-lightskyblue-ch > *, .c-lightskyblue-rs * { color: lightskyblue; }
.c-lightskyblue-hv:hover, .c-lightskyblue-ch-hv:hover > *, .c-lightskyblue-rs-hv:hover * { color: lightskyblue; }
.c-lightslategray, .c-lightslategray-ch > *, .c-lightslategray-rs * { color: lightslategray; }
.c-lightslategray-hv:hover, .c-lightslategray-ch-hv:hover > *, .c-lightslategray-rs-hv:hover * { color: lightslategray; }
.c-lightslategrey, .c-lightslategrey-ch > *, .c-lightslategrey-rs * { color: lightslategrey; }
.c-lightslategrey-hv:hover, .c-lightslategrey-ch-hv:hover > *, .c-lightslategrey-rs-hv:hover * { color: lightslategrey; }
.c-lightsteelblue, .c-lightsteelblue-ch > *, .c-lightsteelblue-rs * { color: lightsteelblue; }
.c-lightsteelblue-hv:hover, .c-lightsteelblue-ch-hv:hover > *, .c-lightsteelblue-rs-hv:hover * { color: lightsteelblue; }
.c-lightyellow, .c-lightyellow-ch > *, .c-lightyellow-rs * { color: lightyellow; }
.c-lightyellow-hv:hover, .c-lightyellow-ch-hv:hover > *, .c-lightyellow-rs-hv:hover * { color: lightyellow; }
.c-lime, .c-lime-ch > *, .c-lime-rs * { color: lime; }
.c-lime-hv:hover, .c-lime-ch-hv:hover > *, .c-lime-rs-hv:hover * { color: lime; }
.c-limegreen, .c-limegreen-ch > *, .c-limegreen-rs * { color: limegreen; }
.c-limegreen-hv:hover, .c-limegreen-ch-hv:hover > *, .c-limegreen-rs-hv:hover * { color: limegreen; }
.c-linen, .c-linen-ch > *, .c-linen-rs * { color: linen; }
.c-linen-hv:hover, .c-linen-ch-hv:hover > *, .c-linen-rs-hv:hover * { color: linen; }
.c-magenta, .c-magenta-ch > *, .c-magenta-rs * { color: magenta; }
.c-magenta-hv:hover, .c-magenta-ch-hv:hover > *, .c-magenta-rs-hv:hover * { color: magenta; }
.c-maroon, .c-maroon-ch > *, .c-maroon-rs * { color: maroon; }
.c-maroon-hv:hover, .c-maroon-ch-hv:hover > *, .c-maroon-rs-hv:hover * { color: maroon; }
.c-mediumaquamarine, .c-mediumaquamarine-ch > *, .c-mediumaquamarine-rs * { color: mediumaquamarine; }
.c-mediumaquamarine-hv:hover, .c-mediumaquamarine-ch-hv:hover > *, .c-mediumaquamarine-rs-hv:hover * { color: mediumaquamarine; }
.c-mediumblue, .c-mediumblue-ch > *, .c-mediumblue-rs * { color: mediumblue; }
.c-mediumblue-hv:hover, .c-mediumblue-ch-hv:hover > *, .c-mediumblue-rs-hv:hover * { color: mediumblue; }
.c-mediumorchid, .c-mediumorchid-ch > *, .c-mediumorchid-rs * { color: mediumorchid; }
.c-mediumorchid-hv:hover, .c-mediumorchid-ch-hv:hover > *, .c-mediumorchid-rs-hv:hover * { color: mediumorchid; }
.c-mediumpurple, .c-mediumpurple-ch > *, .c-mediumpurple-rs * { color: mediumpurple; }
.c-mediumpurple-hv:hover, .c-mediumpurple-ch-hv:hover > *, .c-mediumpurple-rs-hv:hover * { color: mediumpurple; }
.c-mediumseagreen, .c-mediumseagreen-ch > *, .c-mediumseagreen-rs * { color: mediumseagreen; }
.c-mediumseagreen-hv:hover, .c-mediumseagreen-ch-hv:hover > *, .c-mediumseagreen-rs-hv:hover * { color: mediumseagreen; }
.c-mediumslateblue, .c-mediumslateblue-ch > *, .c-mediumslateblue-rs * { color: mediumslateblue; }
.c-mediumslateblue-hv:hover, .c-mediumslateblue-ch-hv:hover > *, .c-mediumslateblue-rs-hv:hover * { color: mediumslateblue; }
.c-mediumspringgreen, .c-mediumspringgreen-ch > *, .c-mediumspringgreen-rs * { color: mediumspringgreen; }
.c-mediumspringgreen-hv:hover, .c-mediumspringgreen-ch-hv:hover > *, .c-mediumspringgreen-rs-hv:hover * { color: mediumspringgreen; }
.c-mediumturquoise, .c-mediumturquoise-ch > *, .c-mediumturquoise-rs * { color: mediumturquoise; }
.c-mediumturquoise-hv:hover, .c-mediumturquoise-ch-hv:hover > *, .c-mediumturquoise-rs-hv:hover * { color: mediumturquoise; }
.c-mediumvioletred, .c-mediumvioletred-ch > *, .c-mediumvioletred-rs * { color: mediumvioletred; }
.c-mediumvioletred-hv:hover, .c-mediumvioletred-ch-hv:hover > *, .c-mediumvioletred-rs-hv:hover * { color: mediumvioletred; }
.c-midnightblue, .c-midnightblue-ch > *, .c-midnightblue-rs * { color: midnightblue; }
.c-midnightblue-hv:hover, .c-midnightblue-ch-hv:hover > *, .c-midnightblue-rs-hv:hover * { color: midnightblue; }
.c-mintcream, .c-mintcream-ch > *, .c-mintcream-rs * { color: mintcream; }
.c-mintcream-hv:hover, .c-mintcream-ch-hv:hover > *, .c-mintcream-rs-hv:hover * { color: mintcream; }
.c-mistyrose, .c-mistyrose-ch > *, .c-mistyrose-rs * { color: mistyrose; }
.c-mistyrose-hv:hover, .c-mistyrose-ch-hv:hover > *, .c-mistyrose-rs-hv:hover * { color: mistyrose; }
.c-moccasin, .c-moccasin-ch > *, .c-moccasin-rs * { color: moccasin; }
.c-moccasin-hv:hover, .c-moccasin-ch-hv:hover > *, .c-moccasin-rs-hv:hover * { color: moccasin; }
.c-navajowhite, .c-navajowhite-ch > *, .c-navajowhite-rs * { color: navajowhite; }
.c-navajowhite-hv:hover, .c-navajowhite-ch-hv:hover > *, .c-navajowhite-rs-hv:hover * { color: navajowhite; }
.c-navy, .c-navy-ch > *, .c-navy-rs * { color: navy; }
.c-navy-hv:hover, .c-navy-ch-hv:hover > *, .c-navy-rs-hv:hover * { color: navy; }
.c-oldlace, .c-oldlace-ch > *, .c-oldlace-rs * { color: oldlace; }
.c-oldlace-hv:hover, .c-oldlace-ch-hv:hover > *, .c-oldlace-rs-hv:hover * { color: oldlace; }
.c-olive, .c-olive-ch > *, .c-olive-rs * { color: olive; }
.c-olive-hv:hover, .c-olive-ch-hv:hover > *, .c-olive-rs-hv:hover * { color: olive; }
.c-olivedrab, .c-olivedrab-ch > *, .c-olivedrab-rs * { color: olivedrab; }
.c-olivedrab-hv:hover, .c-olivedrab-ch-hv:hover > *, .c-olivedrab-rs-hv:hover * { color: olivedrab; }
.c-orange, .c-orange-ch > *, .c-orange-rs * { color: orange; }
.c-orange-hv:hover, .c-orange-ch-hv:hover > *, .c-orange-rs-hv:hover * { color: orange; }
.c-orangered, .c-orangered-ch > *, .c-orangered-rs * { color: orangered; }
.c-orangered-hv:hover, .c-orangered-ch-hv:hover > *, .c-orangered-rs-hv:hover * { color: orangered; }
.c-orchid, .c-orchid-ch > *, .c-orchid-rs * { color: orchid; }
.c-orchid-hv:hover, .c-orchid-ch-hv:hover > *, .c-orchid-rs-hv:hover * { color: orchid; }
.c-palegoldenrod, .c-palegoldenrod-ch > *, .c-palegoldenrod-rs * { color: palegoldenrod; }
.c-palegoldenrod-hv:hover, .c-palegoldenrod-ch-hv:hover > *, .c-palegoldenrod-rs-hv:hover * { color: palegoldenrod; }
.c-palegreen, .c-palegreen-ch > *, .c-palegreen-rs * { color: palegreen; }
.c-palegreen-hv:hover, .c-palegreen-ch-hv:hover > *, .c-palegreen-rs-hv:hover * { color: palegreen; }
.c-paleturquoise, .c-paleturquoise-ch > *, .c-paleturquoise-rs * { color: paleturquoise; }
.c-paleturquoise-hv:hover, .c-paleturquoise-ch-hv:hover > *, .c-paleturquoise-rs-hv:hover * { color: paleturquoise; }
.c-palevioletred, .c-palevioletred-ch > *, .c-palevioletred-rs * { color: palevioletred; }
.c-palevioletred-hv:hover, .c-palevioletred-ch-hv:hover > *, .c-palevioletred-rs-hv:hover * { color: palevioletred; }
.c-papayawhip, .c-papayawhip-ch > *, .c-papayawhip-rs * { color: papayawhip; }
.c-papayawhip-hv:hover, .c-papayawhip-ch-hv:hover > *, .c-papayawhip-rs-hv:hover * { color: papayawhip; }
.c-peachpuff, .c-peachpuff-ch > *, .c-peachpuff-rs * { color: peachpuff; }
.c-peachpuff-hv:hover, .c-peachpuff-ch-hv:hover > *, .c-peachpuff-rs-hv:hover * { color: peachpuff; }
.c-peru, .c-peru-ch > *, .c-peru-rs * { color: peru; }
.c-peru-hv:hover, .c-peru-ch-hv:hover > *, .c-peru-rs-hv:hover * { color: peru; }
.c-pink, .c-pink-ch > *, .c-pink-rs * { color: pink; }
.c-pink-hv:hover, .c-pink-ch-hv:hover > *, .c-pink-rs-hv:hover * { color: pink; }
.c-plum, .c-plum-ch > *, .c-plum-rs * { color: plum; }
.c-plum-hv:hover, .c-plum-ch-hv:hover > *, .c-plum-rs-hv:hover * { color: plum; }
.c-powderblue, .c-powderblue-ch > *, .c-powderblue-rs * { color: powderblue; }
.c-powderblue-hv:hover, .c-powderblue-ch-hv:hover > *, .c-powderblue-rs-hv:hover * { color: powderblue; }
.c-purple, .c-purple-ch > *, .c-purple-rs * { color: purple; }
.c-purple-hv:hover, .c-purple-ch-hv:hover > *, .c-purple-rs-hv:hover * { color: purple; }
.c-rebeccapurple, .c-rebeccapurple-ch > *, .c-rebeccapurple-rs * { color: rebeccapurple; }
.c-rebeccapurple-hv:hover, .c-rebeccapurple-ch-hv:hover > *, .c-rebeccapurple-rs-hv:hover * { color: rebeccapurple; }
.c-red, .c-red-ch > *, .c-red-rs * { color: red; }
.c-red-hv:hover, .c-red-ch-hv:hover > *, .c-red-rs-hv:hover * { color: red; }
.c-rosybrown, .c-rosybrown-ch > *, .c-rosybrown-rs * { color: rosybrown; }
.c-rosybrown-hv:hover, .c-rosybrown-ch-hv:hover > *, .c-rosybrown-rs-hv:hover * { color: rosybrown; }
.c-royalblue, .c-royalblue-ch > *, .c-royalblue-rs * { color: royalblue; }
.c-royalblue-hv:hover, .c-royalblue-ch-hv:hover > *, .c-royalblue-rs-hv:hover * { color: royalblue; }
.c-saddlebrown, .c-saddlebrown-ch > *, .c-saddlebrown-rs * { color: saddlebrown; }
.c-saddlebrown-hv:hover, .c-saddlebrown-ch-hv:hover > *, .c-saddlebrown-rs-hv:hover * { color: saddlebrown; }
.c-salmon, .c-salmon-ch > *, .c-salmon-rs * { color: salmon; }
.c-salmon-hv:hover, .c-salmon-ch-hv:hover > *, .c-salmon-rs-hv:hover * { color: salmon; }
.c-sandybrown, .c-sandybrown-ch > *, .c-sandybrown-rs * { color: sandybrown; }
.c-sandybrown-hv:hover, .c-sandybrown-ch-hv:hover > *, .c-sandybrown-rs-hv:hover * { color: sandybrown; }
.c-seagreen, .c-seagreen-ch > *, .c-seagreen-rs * { color: seagreen; }
.c-seagreen-hv:hover, .c-seagreen-ch-hv:hover > *, .c-seagreen-rs-hv:hover * { color: seagreen; }
.c-seashell, .c-seashell-ch > *, .c-seashell-rs * { color: seashell; }
.c-seashell-hv:hover, .c-seashell-ch-hv:hover > *, .c-seashell-rs-hv:hover * { color: seashell; }
.c-sienna, .c-sienna-ch > *, .c-sienna-rs * { color: sienna; }
.c-sienna-hv:hover, .c-sienna-ch-hv:hover > *, .c-sienna-rs-hv:hover * { color: sienna; }
.c-silver, .c-silver-ch > *, .c-silver-rs * { color: silver; }
.c-silver-hv:hover, .c-silver-ch-hv:hover > *, .c-silver-rs-hv:hover * { color: silver; }
.c-skyblue, .c-skyblue-ch > *, .c-skyblue-rs * { color: skyblue; }
.c-skyblue-hv:hover, .c-skyblue-ch-hv:hover > *, .c-skyblue-rs-hv:hover * { color: skyblue; }
.c-slateblue, .c-slateblue-ch > *, .c-slateblue-rs * { color: slateblue; }
.c-slateblue-hv:hover, .c-slateblue-ch-hv:hover > *, .c-slateblue-rs-hv:hover * { color: slateblue; }
.c-slategray, .c-slategray-ch > *, .c-slategray-rs * { color: slategray; }
.c-slategray-hv:hover, .c-slategray-ch-hv:hover > *, .c-slategray-rs-hv:hover * { color: slategray; }
.c-slategrey, .c-slategrey-ch > *, .c-slategrey-rs * { color: slategrey; }
.c-slategrey-hv:hover, .c-slategrey-ch-hv:hover > *, .c-slategrey-rs-hv:hover * { color: slategrey; }
.c-snow, .c-snow-ch > *, .c-snow-rs * { color: snow; }
.c-snow-hv:hover, .c-snow-ch-hv:hover > *, .c-snow-rs-hv:hover * { color: snow; }
.c-springgreen, .c-springgreen-ch > *, .c-springgreen-rs * { color: springgreen; }
.c-springgreen-hv:hover, .c-springgreen-ch-hv:hover > *, .c-springgreen-rs-hv:hover * { color: springgreen; }
.c-steelblue, .c-steelblue-ch > *, .c-steelblue-rs * { color: steelblue; }
.c-steelblue-hv:hover, .c-steelblue-ch-hv:hover > *, .c-steelblue-rs-hv:hover * { color: steelblue; }
.c-tan, .c-tan-ch > *, .c-tan-rs * { color: tan; }
.c-tan-hv:hover, .c-tan-ch-hv:hover > *, .c-tan-rs-hv:hover * { color: tan; }
.c-teal, .c-teal-ch > *, .c-teal-rs * { color: teal; }
.c-teal-hv:hover, .c-teal-ch-hv:hover > *, .c-teal-rs-hv:hover * { color: teal; }
.c-thistle, .c-thistle-ch > *, .c-thistle-rs * { color: thistle; }
.c-thistle-hv:hover, .c-thistle-ch-hv:hover > *, .c-thistle-rs-hv:hover * { color: thistle; }
.c-tomato, .c-tomato-ch > *, .c-tomato-rs * { color: tomato; }
.c-tomato-hv:hover, .c-tomato-ch-hv:hover > *, .c-tomato-rs-hv:hover * { color: tomato; }
.c-turquoise, .c-turquoise-ch > *, .c-turquoise-rs * { color: turquoise; }
.c-turquoise-hv:hover, .c-turquoise-ch-hv:hover > *, .c-turquoise-rs-hv:hover * { color: turquoise; }
.c-violet, .c-violet-ch > *, .c-violet-rs * { color: violet; }
.c-violet-hv:hover, .c-violet-ch-hv:hover > *, .c-violet-rs-hv:hover * { color: violet; }
.c-wheat, .c-wheat-ch > *, .c-wheat-rs * { color: wheat; }
.c-wheat-hv:hover, .c-wheat-ch-hv:hover > *, .c-wheat-rs-hv:hover * { color: wheat; }
.c-white, .c-white-ch > *, .c-white-rs * { color: white; }
.c-white-hv:hover, .c-white-ch-hv:hover > *, .c-white-rs-hv:hover * { color: white; }
.c-whitesmoke, .c-whitesmoke-ch > *, .c-whitesmoke-rs * { color: whitesmoke; }
.c-whitesmoke-hv:hover, .c-whitesmoke-ch-hv:hover > *, .c-whitesmoke-rs-hv:hover * { color: whitesmoke; }
.c-yellow, .c-yellow-ch > *, .c-yellow-rs * { color: yellow; }
.c-yellow-hv:hover, .c-yellow-ch-hv:hover > *, .c-yellow-rs-hv:hover * { color: yellow; }
.c-yellowgreen, .c-yellowgreen-ch > *, .c-yellowgreen-rs * { color: yellowgreen; }
.c-yellowgreen-hv:hover, .c-yellowgreen-ch-hv:hover > *, .c-yellowgreen-rs-hv:hover * { color: yellowgreen; }
