{% extends "mighty/base.html" %}
{% load mighty static %}

{% block css %}
{% include "authenticate/login.css" %}
{% endblock %}

{% block content %}
<section class="container">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="text-center">
            <img class="mb-4" src="{% static "login_logo.png" %}">
        </div>
        <h1 class="h3 mb-3 font-weight-normal">{{ header.title }}</h1>
        <hr>

        {{ form.non_field_errors }}
        <label for="{{ form.search.id_for_label }}">{{ form.search.label }}</label>
        {% with attr="class:form-control,placeholder:"|add:form.search.help_text|safe %}
        {{ form.search|add_attr:attr }}
        {% endwith %}
        <hr>        
        <div class="text-center">
            <small class="d-block"><b>{{ send_method }}</b></small>
            {% if enable_sms %}
            <button class="btn btn-secondary btn-lg mt-3" type="submit" name="method" value="sms">
                <i class="fas fa-mobile-alt">&nbsp;</i>{{ method_sms }}
            </button>
            {% endif %}
            {% if enable_email %}
            <button class="btn btn-secondary btn-lg mt-3" type="submit" name="method" value="email">
                <i class="fas fa-at">&nbsp;</i>{{ method_email }}
            </button>
            {% endif %}
            {% if enable_basic %}
            <hr>
            <small class="d-block"><b>{{ send_basic }}</b></small>
            <button class="btn btn-secondary btn-lg mt-3" type="submit" name="method" value="basic">
                <i class="fas fa-keyboard">&nbsp;</i>{{ method_basic }}
            </button>
            {% endif %}
        </div>
    </form>
</section>
{% endblock %}