{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ header.title }}</title>
        <style>

        #chart-container { height: 1500px; width: 1500px; }
        </style>
    </head>
    <body>
    
    <div id="chart-container"></div>
    {% block content %}{% endblock %}


    <script src="{% static 'RGraph/libraries/RGraph.svg.common.core.js' %}"></script>
    <script src="{% static 'RGraph/libraries/RGraph.svg.common.ajax.js' %}"></script>
    {% block file_js %}{% endblock %}
    {% if object.Bar %}<script src="{% static 'RGraph/libraries/RGraph.svg.bar.js' %}"></script>{% endif %}
    <script>
    (function() {
        new RGraph.SVG.Bar({
            id: 'chart-container',
            data: [4,8,6,3,5,4,1],
            options: {
                title: 'An example of a responsive chart',
                titleBold: true,
                axes: false,
                backgroundGridVlines: false,
                backgroundGridBorder: false
            }
        }).draw().responsive([
            {maxWidth: 600,  width: 400, height: 200, options: {titleSize: 12, textSize: 10, marginInner: 10, xaxisLabels: ['Mon','Tues','Wed','Thu','Fri','Sat','Sun']},},
            {maxWidth: 1100, width: 600, height: 250, options: {titleSize: 14, textSize: 12, marginInner: 20, xaxisLabels: ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']},},
            {maxWidth: null, width: 700, height: 275, options: {titleSize: 18, textSize: 14, marginInner: 25, xaxisLabels: ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']},}
        ]);
        {% block js %}{% endblock %}
    })();
    </script>
    </body>
</html>