{% extends "mighty/base.html" %}
{% block css %} th { position: sticky; top: 0; }{% endblock %}
{% block content %}
<section class="container">
    <h1>{{ meta.verbose_name_plural }}</h1>
    {% include "mighty/breadcrumb.html" %}

    {% if request.user.is_staff and has_list_permission %}
    <a class="btn btn-secondary mb-3" href="{{ links.admin.list }}"><i class="fas fa-user-shield">&nbsp;</i>{{ questions.admin_view}}</a>
    <hr>
    {% endif %}

    {% if object_list %}
    <div class="row justify-content-between">
        <div class="col-4 text-left">
            {% include "mighty/paginate.html" %}
        </div>
        <div class="col-4 text-right">
            <form method="GET">
                <div class="form-row float-right">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" name="search" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "mighty/minimize/list.html" %}
    {% include "mighty/paginate.html" %}
    {% else %}
        {% if has_add_permission %}
        <a class="btn btn-secondary btn-sm" href="{{ links.add }}" role="button"><i class="fas fa-plus">&nbsp;</i>{{ meta.verbose_name }}</a>
        {% endif %}
    {% endif %}
</section>
{% endblock %}