{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ header.title }}</title>
        <link rel="stylesheet" href="{% static "css/wr-easy.css" %}">
        <link rel="stylesheet" href="{% static "css/wr-text.css" %}">
        <link rel="stylesheet" href="{% static "css/wr-colors.css" %}">
        <link rel="stylesheet" href="{% static "css/wr-border.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron"> 
        {% block file_css %}{% endblock %}
        <style>
        * { font-family: 'Orbitron', sans-serif; }
        a { text-decoration: none;}
        h1 { 
            border-bottom: 1px solid black; 
            margin: 20px 0;
        }
        .btn-action {
            height: 40px;
            display: inline-block;
            line-height: 40px;
            width: 180px;
            text-align: center;
        }
        {% block css %}{% endblock %}
        </style>
    </head>
    <body class="">
    <div class="wt-pr80 md-wt-pr100 mg-auto">
    {% block content %}{% endblock %}
    </div>
    {% block file_js %}{% endblock %}
    <script>
    (function() {
        {% block js %}{% endblock %}
    })();
    </script>
    </body>
</html>