<div class="bg-c-gainsboro pg-px5">
    <a href="/">Home</a>
    {% if has_list_permission %}
        {% if view == 'list' %}
        &rsaquo; <a class="active">{{ meta.verbose_name_plural }}</a>
        {% else %}
        &rsaquo; <a href="{{ links.list }}">{{ meta.verbose_name_plural }}</a>
        {% endif %}
    {% endif %}

    {% if has_object %}
        {% if view == 'detail' %}
        &rsaquo; <a class="active">{{ object }}</a>
        {% else %}
        &rsaquo; <a href="{{ links.detail }}">{{ object }}</a>
        {% endif %}
    {% endif %}

    {% if view == 'add' %}
    &rsaquo; <a class="active">{{ titles.add }}</a>
    {% elif view == 'change' %}
    &rsaquo; <a class="active">{{ titles.change }}</a>
    {% elif view == 'disable' %}
    &rsaquo; <a class="active">{{ titles.disable }}</a>
    {% elif view == 'enable' %}
    &rsaquo; <a class="active">{{ titles.enable }}</a>
    {% elif view == 'delete' %}
    &rsaquo; <a class="active">{{ titles.delete }}</a>
    {% endif %}
</div>